.validation-error {
    color: red;
}

body {
    width: 100%;
}

.design-section {
    background-color: #f5f5f5;
}
.signin-container {
    height: 965px;
    width:100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}



.user-form {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.user-form .checkbox {
    font-weight: 400;
}


.register-form {
    max-width: 600px;
}

.form-signin {
    max-width: 330px;
}
.user-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.user-form .form-control:focus {
    z-index: 2;
}

.register-form {

}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}